@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h1.lessons {
  text-align: left;
  padding-left: 40px;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

h4.course {
  letter-spacing: -1px;
  margin-right: 15px;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $gray-light;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
		 	margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

/* forms */

//input, textarea, select, .uneditable-input {
//	border: 1px solid #bbb;
//	width: 100%;
//	margin-bottom: 15px;
//	@include box_sizing;
//}

input {
	height: auto !important;
}

.error-explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .has-error;
}

.content {
	display: block;
}

aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

.list-items {
  list-style: none;
  margin: 10px 0 10px 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-light;
    &:last-child {
      border-bottom: 1px solid $gray-light;
    }
  }
}

//spinner

section#spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 120px;
  margin: -60px 0 0 -85px;
}

.spinner {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 150;
  margin: 0 auto;
}

.spinner-2 {
  height: 120px;
}
.spinner-2 .spinner {
  width: 100px;
  height: 100px;
}
.spinner-2 .spinner:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: solid 20px #222;
  border-bottom: solid 20px #222;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  content: "";
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-animation: spinner-2 1s infinite ease;
  -moz-animation: spinner-2 1s infinite ease;
  -ms-animation: spinner-2 1s infinite ease;
  -o-animation: spinner-2 1s infinite ease;
  animation: spinner-2 1s infinite ease;
}
.spinner-2 .spinner:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: #000;
  content: "";
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

@-webkit-keyframes spinner-2 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinner-2 {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spinner-2 {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes spinner-2 {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes spinner-2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

//spinner

//user details

.gravatar {
  float: left;
  margin-right: 10px;
}

div.gravatar-edit {
  margin-top: 15px;
}

//tooltip
.tooltip {
  position: fixed;
}

//message popup

div.message-popup
{
  text-align: center;
  position: absolute;
  position: fixed;
  left: 50%;
  margin: 0 0 0 -15em;
  width: 30em;
  z-index: 999;
}

//maps
div#basic_map
{
  height: 400px;
}

div.info-window {
  width: 400px;
  .title {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 8px 14px;
  }
  .content {
    padding: 9px 14px;
  }
}
